<h1><%= @event.description %>
<%= link_to 'Edit event', edit_location_event_path(@location, @event), class: "btn btn-info pull-right" %>
<br>
<%= link_to 'Destroy Event', location_event_path(@location, @event), class: "btn btn-danger pull-right",
method: :delete, data: { confirm: 'Are you sure?' } %>
</h1>
<br>
<hr>

<dl class="dl-horizontal">
<dt><b>Description:</b></dt>
<dd><%= @event.description %></dd>
<br>
<dt><b>Date:</b></dt>
<dd><%= @event.date %></dd>
<br>
  <dt><b>Is ID required?</b></dt>
  <dd>  <%= @event.requires_id %></dd>

</dl>
